# Ignore everything
*

# But keep directories searchable
!*/

# But keep this .gitignore file
!.gitignore

# Keep Python files
!*.py

# Keep Jupyter notebooks
!*.ipynb

# Ignore Excel files anywhere
*.xlsx
*.xls